.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#table {
  padding: 10px;
  width: 80%;
  height: 70%;
  background: linear-gradient(green, Chartreuse);
  border: black;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

/* Hands */
.hand {
  background-color: limegreen;
  height: 15vh;
  width: 60vw;
}


/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
}

#deal-button {
  font-size: 16px;
}
#hit-button {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 16px;
}
#stand-button {
  font-size: 16px;
}
/* Cards */
img {
  height: 85%;
  padding: 1%;
}

label{
  
}